.github/**
.husky/**
.vscode/**
docs/**
test/**
src/**
node_modules/**
.eslintignore
.gitignore
.npmrc
.prettierrc
.prettierignore
.vscode-test.mjs
esbuild.mjs
eslint.config.mjs
tsconfig.json
vitest.config.ts
*.vsix
*.map
CONTRIBUTING.md
CODE_OF_CONDUCT.md
coverage/**
